<ion-content>
  <ion-toolbar color="dark" style="text-align:center">
    <ion-title>
      Ingresar
    </ion-title> 
  </ion-toolbar>
  <ion-grid class="logo" style="text-align: center" style="height: 150px;" >
    <ion-row>
      <ion-col>
        <img  src="https://as.com/meristation/imagenes/2020/02/21/noticias/1582281685_957241_1582283000_noticia_normal.jpg">
      </ion-col>
    </ion-row>
    <ion-row></ion-row>
  </ion-grid>

  <div class="simulacro">
    <ion-button class="centrado" expand="block" color="primary" type="button" (click)="loguearFB()" > <!-- href="/folder/lista">-->
     

      
      <ion-icon name="logo-facebook"></ion-icon>
      Iniciar Sesión con Facebook
    </ion-button>
    {{facebook_account}}
  </div>

</ion-content>
